body {
    background-color: #EAEAEA; /* Cor de fundo */
    color: #333333; /* Cor da fonte */
}

a, .highlight {
    color: #FF6347; /* Cor de destaque */
}

/* Aspectos gerais */
body {
    width: 960px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

p {
    text-indent: 1em;
}

/* Títulos */
h1 {
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    text-align: right;
}

h3 {
    font-size: 1.2rem;
    text-align: right;
}

/* Seções de resumo e principal */
.summary {
    text-align: right;
}

.main-section p {
    line-height: 1.5;
}

/* Abreviações */
abbr {
    font-variant: small-caps;
}
